.ab-para {
    padding-left: 100px;
    padding-right: 100px;
}

.ab-para p {
    text-align: center;
}

.edu-line {
    padding: 30px;
}

.main-line {
    width: 90%;
    height: 2px;
    background-color: aqua;
    margin: auto;
    border-radius: 50%;
}

.sub-lines {
    display: flex;
    justify-content: space-around;
}

.line {
    width: 2px;
    height: 90px;
    background-color: aqua;
    border-radius: 90%;
}

.qualifications {
    display: flex;
}

.quali {
    text-align: center;
}


.lumi {
    margin-left: 98px;
}

.dipl {
    margin-left: 177px;
}

.hse {
    margin-left: 195px;
}

.txt1 {
    font-size: 18px;
}

.txt2 {
    font-size: 15px;
}

.txt3 {
    font-size: 12px;
}

@media (max-width:600px) {
    .ab-para {
        padding-left: 25px;
        padding-right: 25px;
    }

    .ab-para p {
        text-align: justify;
        font-size: 13px;
    }

    .line {
        width: 2px;
        height: 50px;
    }

    .txt1 {
        font-size: 14px;
    }
    
    .txt2 {
        font-size: 11px;
    }
    
    .txt3 {
        font-size: 8px;
    }  
    
    .lumi {
        margin-left: 0px;
    }
    
    .dipl {
        margin-left: 0px;
    }
    
    .hse {
        margin-left: 0px;
    }
}