.sec-head p {
    font-size: 30px;
    text-align: center;
    margin-top: 70px;
}

.skill-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    place-items: center;
    gap: 15%;
    margin: 0% 20%;
    margin-bottom: 15%;
}

.skill {
    font-size: 30px;
    border: 1px solid whitesmoke;
    padding: 15%;
    border-radius: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
    background: transparent;
}
.skill:hover {
    background: linear-gradient(0deg, #1f006f 0%, #1175ac 38%, #00fff3 100%);
    transition: all 0.5s ease;
}

@media (max-width:600px){
    .skill{
        border: none;
        background: linear-gradient(0deg, #1f006f 0%, #1175ac 38%, #00fff3 100%);
    }
}